.input-url-container {
    position: relative;
    height: 22px;
    width: 100%;
}

.input-url-container input {
    margin-right: 2px;
    border-color: papayawhip;
    outline: none;
    border-radius: 3px;
    height: 100%;
    width: 55%;
}
